*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

header{
    background: #22bcf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    border-bottom: orange 0.3rem solid;
}

.headerText{
    display: flex;
    gap: 3rem;
    padding-right: 8rem;
    color: white;
}

.headerText > a:link {
    text-decoration: none;
    color: white;
}

.headerText > a:visited {
    text-decoration: none;
    color: white;
}

.headerText > a:hover {
    text-decoration: underline;
    color: orange;
}

.headerIMG > img{
    width: 23.7rem;
    height: 100%;

}

.headerIMG{
    padding-left: 8rem;
}


.HomeScreen > h1{
    position: absolute;
    top: 30rem;
    left: 10rem;
    color: white;
    font-size: 2.5rem;
    font-style: italic;
}

.HomeScreen > a > button{
    color: white;
    position: absolute;
    top: 34rem;
    left: 10rem;
    width: 20rem;
    height: 10rem;
    font-size: 2.5rem;
    background: transparent;
    border-radius: 30%;
}

.FrontGame1{
    padding: 7rem;
    padding-left: 10rem;
}

.FrontGame1 > a > img{
    animation-name: popup;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
    transition: 0.2s transform;
    background-color: #22bcf8;
}

.FrontGame1 > a > img:hover{
    transform: scale(1.1);
}

.frontIMG > img{
    display: flex;
    width: 99.1vw;
    height: 45vw;
    padding-left: 0%;
    border-bottom: orange solid 0.3rem;
}

.FrontGames{
    display: flex;
    justify-content: center;
    gap: 7.5rem;
    transition: 1s transform;

}

.FrontGames > .FrontGameColumn > img:hover{
    transform: scale(1.1);
}


.FrontGameColumn > img{
    width: 30rem;
    animation-fill-mode: backwards;
    transition: 0.2s transform;
}

.FrontGameHeading{
    position: absolute;
    top: 105rem;
    right: 28rem;
    font-size: 3rem;
    color: white;
}

.FrontGameText{
    position: absolute;
    top: 115rem;
    right: 45rem;
    font-size: 1.5rem; 
    color: white;  
}

.FrontGameButton{
    position: absolute;
    top: 120rem;
    right: 47rem; 
}

.FrontGameButton > a > button{
    height: 7rem;
    width: 15rem;
    color: white;
    background-color: orange;
    font-size: 2rem;
    border-radius: 20%;
    border-color: transparent;
    border-style: solid;
    border-color: black;
}

.steps{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 4rem;
    
}


.steps > div > img{
    width: 30rem;
    height: 25rem;
    border-radius: 20%;
}

.stepsrow2{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 4rem;
    
}


.stepsrow2 > div > img{
    width: 30rem;
    height: 25rem;
    border-radius: 20%;
}

.steps > div > h1{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.stepsrow2 > div > h1{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.steps > div > h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-bottom: orange 2px solid;
    font-style: italic;
    color: white;
}

.stepsrow2 > div > h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-bottom: orange 2px solid;
    font-style: italic;
    color: white;
}

.circle--first{
    height:70rem;
    width:70rem;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0 0 3rem 0 rgba(0,0,0,0.6);
    background-color: #22bcf8;
    top: 85rem;
    right: 20rem;
    z-index: -1;
}

.ps3sale{
    display: flex;

}

.ps3sale > .PS3frontpage > img {
    margin-left: 90rem;
    margin-top: 10rem;
    border-style: solid;
    border-color: orange;
    background-color: orange;
    padding-top: 5rem;
    gap: 2rem;
    box-shadow: 0rem 0rem 1rem 0rem gray;
}

.ps3sale > .PS3frontpage > h1 {
    font-size: 5rem;
    position: absolute;
    top: 280rem;
    left: 20rem;
    color: white;
}

.ps3sale > .PS3frontpage > h2 {
    font-size: 2rem;
    position: absolute;
    top: 289rem;
    left: 20rem;
    color: white;
}

.top{
    width: 80px;
    height: 80px;
    background-color: orange;
    border: none;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 120px;
    right: 120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-style: solid;
    border-color: black;
}
.square--first {
    background-color: #22bcf8;
    height: 75rem;
    width: 125rem;
    z-index: -1;
    position: absolute;
    top: 193rem;
    left: 20rem;
    border-radius: 2%;
}

.square--second {
    background-color: #22bcf8;
    position: absolute;
    z-index: -1;
    height: 45rem;
    width: 110rem;
    top: 277rem;
    left: 18rem;
    border-radius: 2%;
}

.section--third{
    background: white; 
    display: flex;
    height: auto;
    padding: 4rem;
    align-items: center;
    }
    
.arrow{
    width: 10%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.arrow:hover{
    cursor: pointer;
}
    
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    width: 80%;
    flex-wrap: wrap;
}
    
.review{
    width: 30rem;
    min-height: 20rem;
    background: darkred;
    list-style: none;
    padding: 4rem;
    align-items: center;
    border-radius: 0.5rem;
    background: white;  
    box-shadow: 0rem 1rem 1rem 0rem rgba(0,0,0,0.2),
     inset 0 -1rem 1rem -1rem rgba(0,0,0,0.1);
    position: relative;
    animation-name: fadeIn;
    animation-duration:0.5s;
}
    
.review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
    display: none;
}
    
.review > p {
    font-size: 120%;
    font-style: italic;
    border-bottom: 0.5rem solid rgba(0,0,0,0.2);
}
    
.stars{
    color: gold;
}
    
.qoute {
    font-size: 500%;
    position: absolute;
    top:0;
    left:50%;
    transform: translateX (-50%);
    line-height: 0.5;
}

.FrontFooter{
    padding:5rem ;
    background: #22bcf8
}

.FrontFooter > h1{
    display: flex;
    color: white;
    justify-content: space-between;
}
    
@keyframes fadeIn{
    from{
        opacity: 0;
        filter:blur(10px);
    }
    to{
        opacity: 1;
        filter:blur(0)
    }
}
    
@media screen and (max-width: 50rem){
    .arrow{
        display: none;
    }
    .reviews {
        width: 100%;
    }
}

@keyframes popup{
    from{
        opacity: 0;
        transform: translateY(2rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}