
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
html{
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

section{
    margin-top:2rem;
}

header{
    background: #22bcf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    border-bottom: orange 0.3rem solid;
}

.headerText{
    display: flex;
    gap: 3rem;
    padding-right: 8rem;
    color: white;
}

.headerText > a:link {
    text-decoration: none;
    color: white;
}

.headerText > a:visited {
    text-decoration: none;
    color: white;
}

.headerText > a:hover {
    text-decoration: underline;
    color: orange;
}

.headerIMG > img{
    width: 23.7rem;
    height: 100%;
}

.headerIMG{
    padding-left: 8rem;
}

.HomeScreen{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("https://w0.peakpx.com/wallpaper/342/331/HD-wallpaper-playstation-3-play-beyond-game-playstation-sony-play.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    gap: 2rem;
}

.HomeScreen > h1{
    color: white;
    font-size: 2.5rem;
    font-style: italic;
}

.HomeScreen > a > button{
    color: white;
    width: 20rem;
    height: 10rem;
    font-size: 2.5rem;
    background: transparent;
    border-radius: 30%;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: sans-serif;
    padding: 2rem;
}

.figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.skate3{
    width: 25vw;
    animation-name: popup;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
    transition: 0.2s transform;
}

.skate3:hover{
    transform: scale(1.1);
}


.figure--second{
    gap: 2rem;
    font-size: 2rem;
    padding: 2rem;
    background: #22bcf8;
    border-radius: 50%;
    height: 50vh;
    width: 80vw;
}

.skate3button{
    height: 7vh;
    width: 15vw;
    color: white;
    background-color: orange;
    font-size: 2rem;
    border-radius: 20%;
    border-color: transparent;
    border-style: solid;
    border-color: black;
}

.RowGames{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 7.5rem;
    animation-name: popup;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
    transition: 0.2s transform;
}

.RowGames > a > img {
    height: 40vh;
}

.RowGames > a > img:hover{
    transform: scale(1.1);
    transition: 0.2s transform;
}

.container{
    background:#22bcf8;
    margin: 6rem;
    border-radius: 10%;
}

.steps{
    display: flex;
    flex-wrap: wrap;
    gap: 7.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}

.steps > ul > img{
    height: 35vh;
    border-radius: 30%
}

.steps > ul > h1{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.steps > ul > h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-bottom: orange 2px solid;
    font-style: italic;
    color: white;
}

.square--first{
    height: 25vh;
    background: #22bcf8;
    z-index: -1; 
}

.ps3sale{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.playstation3 > img{
    box-shadow: 0rem 0rem 1rem 0rem gray;
    border-style: solid;
    border-color: orange;
    background-color: orange;
    padding-top: 5rem;
    height: 70vh;
    width: 35vw;
}

.square--second{
    background: #22bcf8;
    padding: 20vh;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.square--second > h1{
    color: white;
    font-size: 3rem;
    padding-bottom: 1rem;
}


.square--second > h2{
    color: white;
    font-size: 2rem;
}

.section--third{
    background: white; 
    display: flex;
    height: auto;
    padding: 4rem;
    align-items: center;
    }
    
.arrow{
    width: 10%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.arrow:hover{
    cursor: pointer;
}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    width: 80%;
    flex-wrap: wrap;
}
    
.review{
    width: 30rem;
    min-height: 20rem;
    background: darkred;
    list-style: none;
    padding: 4rem;
    align-items: center;
    border-radius: 0.5rem;
    background: white;  
    box-shadow: 0rem 1rem 1rem 0rem rgba(0,0,0,0.2),
    inset 0 -1rem 1rem -1rem rgba(0,0,0,0.1);
    position: relative;
    animation-name: fadeIn;
    animation-duration:0.5s;
}
    
.review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
    display: none;
}
    
.review > p {
    font-size: 150%;
    font-style: italic;
    border-bottom: 0.5rem solid rgba(0,0,0,0.2);
}
    
.stars{
    color: gold;
}
    
.qoute {
    font-size: 500%;
    position: absolute;
    top:0;
    left:50%;
    transform: translateX (-50%);
    line-height: 0.5;
}

.review > figure > img {
    height: 10vh;
    border-radius: 50%;
}

.top{
    width: 80px;
    height: 80px;
    background-color: orange;
    border: none;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 120px;
    right: 120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-style: solid;
    border-color: black;
}

.FrontFooter{
    padding:5rem ;
    background: #22bcf8
}

.FrontFooter > h1{
    display: flex;
    color: white;
    justify-content: space-between;
}

.productpagegames{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    flex-direction: row;
    padding: 2rem;
}



.productpagegames > li > img{
    height: 40vh;

}

.productpagegames > li{
    background: blue;
    padding: 2rem;
}

.ProductGame1{
    padding: 2rem;
}

.productpagegames > li > img:hover{
    transform: scale(1.1);
    transition: 0.2s transform;
}


@keyframes popup{
    from{
        opacity: 0;
        transform: translateY(2rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 50rem){
    .arrow{
        display: none;
    }
    .reviews {
        width: 100%;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        filter:blur(10px);
    }
    to{
        opacity: 1;
        filter:blur(0)
    }
}